/**** Content ****/ 

.dg-bg-dark {
    background-color: #2c3e50;
    color: #fff
}

.dg-bg-green {
    background-color: #1abc9c;
    color: #fff
}

.btn {
    color: white;
}

.dg-bg-blue {
    background-color: #3a546d;
    color: white;
}

#avatar {
    height: 300px;
}

.bi {
    font-size: 50px;
}

.fa-brands {
   padding: 15px;
   border: 1px white solid;
}

a {
    color: #1abc9c;
    text-decoration: none;
}